body{
  background-color: black;
  color: aqua;
}

header{
  background-color: black;
  color: rgb(16, 166, 247);
}

footer{
  background-color:rgb(13, 13, 12) ;
  color: greenyellow;

}
li{
  color:rgb(28, 165, 238);
}
button{
  initial-value: 0 t0 100;
}